@model IEnumerable<MusicHub.Models.LocalModels.PlaylistModel>

<style>
    table.scroll {
        width: 100%; /* Optional */
        /* border-collapse: collapse; */
        /*border: 2px solid black;*/
    }

        table.scroll tbody,
        table.scroll thead {
            display: block;
        }

    thead tr th {
        height: 30px;
        line-height: 30px;
        /*text-align: left;*/
    }

    table.scroll tbody {
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    tbody {
        /*border-top: 2px solid black;*/
    }

        tbody td, thead th {
            width: 450px; /* Optional */
            /*border-right: 1px solid black;*/
        }

            tbody td:last-child, thead th:last-child {
                border-right: none;
            }
</style>

<table id="table_artists" class="table table-hover scroll">
    <thead>
        <tr>
            <!-- Sort by links -->
            <th>
                <p id="search_name"><a>@Html.DisplayNameFor(model => model.Name)</a></p>
            </th>
            <th>
                <p id="search_creation_date"><a>@Html.DisplayNameFor(model => model.CreationDate)</a></p>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a asp-action="Edit" title="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a asp-action="Delete" title="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash"></span></a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
