@model MusicHub.Models.LocalModels.PlaylistModel

@{
    ViewData["Title"] = "Details";
}

<style>
    table.scroll {
        width: 100%; /* Optional */
        /* border-collapse: collapse; */
        /*border: 2px solid black;*/
    }

        table.scroll tbody,
        table.scroll thead {
            display: block;
        }

    thead tr th {
        height: 30px;
        line-height: 30px;
        /*text-align: left;*/
    }

    table.scroll tbody {
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    tbody {
        /*border-top: 2px solid black;*/
    }

        tbody td, thead th {
            width: 450px; /* Optional */
            /*border-right: 1px solid black;*/
        }

            tbody td:last-child, thead th:last-child {
                border-right: none;
            }

    .side_left {
        width: auto;
        display: inline-block;
    }

    .side_right {
        vertical-align: central;
        display: inline-block;
        width: auto;
    }

    a:hover {
        text-decoration-line: none;
    }

    .cat-links {
        background-color: #289dcc;
        border-radius: 3px;
        color: #ffffff;
        font-size: 16px;
        padding: 3px 10px;
        overflow: hidden;
    }

        .cat-links a {
            color: white;
            overflow: hidden;
        }

            .cat-links a:hover {
                color: white;
                text-decoration-line: none;
            }

    .numbered {
        background-color: #d7e2e7;
        border-radius: 3px;
        color: #002ea2;
        padding: 3px 10px;
        width:unset;
        overflow: hidden;
    }
</style>

<div>
    <section>
        <div class="side_left">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
        </div>
        <div class="side_right">
            <span class="cat-links">Playlist</span>
            <a asp-action="Edit" asp-route-id="@Model.ID" title="Edit"><span class="glyphicon glyphicon-pencil" /></a>
        </div>
    </section>

    @Html.Partial("_Partial_Canvas_Decor")

    <div>
        <span class="numbered">@Model.Playlist.Count Songs</span>
    </div>

    <table class="table table-hover scroll">
        <thead>
            <tr>
                <th>Song Title</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- iterate for each song of the playlist -->
            @foreach (var song in Model.Playlist)
            {<!-- Add table row with song name and genere -->
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => song.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => song.Genre)
                    </td>
                    <td>
                        <a asp-controller="Song" asp-action="Details" asp-route-id="@song.ID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>