@model MusicHub.Models.LocalModels.SongModel

@{
    ViewData["Title"] = "Details";
}

<style>
    /* divide multiple-columns with xxlarge font size*/
    #song_details_container {
        column-count: 2;
    }
</style>

<h2>Details</h2>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil"></span></a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
</div>
<div>
    <iframe width="640" height="390" src="@Model.YouTubeUrl" frameborder="0"
            allowfullscreen></iframe>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Name)
            @Html.DisplayFor(model => model.Artist.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Composer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Composer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
</div>

