@model MusicHub.Models.LocalModels.SongModel

@{
    ViewData["Title"] = "Details";
    var IsAdmin = User.IsInRole(Consts.Admin);
}

@using MusicHub.Classes;

<style>
    /* divide multiple-columns with xxlarge font size*/
    #song_details_container {
        column-count: 2;
    }

    .side_left {
        width: auto;
        display: inline-block;
    }

    .side_right {
        vertical-align: central;
        display: inline-block;
        width: auto;
    }

    .artist_section a {
        font-size: 16px;
    }

    .artist_section b {
        font-size: 16px;
    }

    a:hover {
        text-decoration-line: none;
    }

    #content {
        overflow: auto;
        width: 100%;
    }

    #left {
        width: 60%;
        min-width: 450px;
        margin: 5px;
        padding: 1em;
    }

    #right {
        width: auto;
        margin: 5px;
        padding: 1em;
    }

    .content {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }

    #left {
        float: left;
    }

    #right {
        float: none;
    }

    .youtube_container {
        width: 100%;
    }
</style>

<div>
    <div style="float:left;">
        <section>
            <div class="side_left">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
            </div>
            @if (IsAdmin)
            {
                <div class="side_right">
                    <a asp-action="Edit" title="Edit" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
            }
        </section>
        @if (Model.Artist != null)
        {
            <section class="artist_section">
                <b>by</b>
                <a asp-controller="Artist" asp-action="Details" asp-route-id="@Model.ArtistId">
                    @Html.DisplayFor(model => model.Artist.Name)
                    @Html.DisplayFor(model => model.Artist.LastName)
                </a>
            </section>
        }
    </div>

    @if (IsAdmin)
    {
        <section style="float:right;">
            <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete Song</a>
        </section>
    }
</div>
@Html.Partial("_Partial_Canvas_Decor")

<div id="content">
    <div id="left">
        <iframe class="youtube_container" height="390" src="https://www.youtube.com/embed/@Model.YouTubeID" frameborder="0"
                allowfullscreen></iframe>
    </div>
    <div id="right">
        <dl class="dl-horizontal content">
            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Composer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Composer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
        </dl>
    </div>
</div>
