@model MainViewModel

@using MusicHub.Models.HomeViewModels

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .highlight-title {
        font-size: 20px;
        color: darkcyan;
        line-height: 1;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        text-align: center;
    }

    .highlight-body {
        font-size: 15px;
        color: white;
        line-height: 1;
        text-align: center;
    }

    .highlight-button {
        background-color: #d51000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        vertical-align: bottom;
        margin: 0 auto;
        display: inline-block;
    }

    /*layout*/
    #main-wrap {
        overflow: hidden;
        background-color: #010030;
    }

    #carousel-caption {
        vertical-align: bottom;
        margin-bottom: -10px;
    }

    .highlight-wrapper {
        width: 100%;
    }

        .highlight-wrapper:before, .highlight-wrapper:after {
            content: '';
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
        }

        .highlight-wrapper:before {
            left: 0;
        }

        .highlight-wrapper:after {
            right: 0;
        }


    .aside-right {
        width: 68%;
        float: right;
        height: 100%;
        /*padding-left: .5rem;
            margin-left: .5rem;
            box-shadow: inset 5px 0 5px -5px #29627e;
            font-style: italic;
            color: #29627e;*/
    }

    .aside-left {
        width: 30%;
        float: left;
        height:500px;
        background-color:aquamarine;
            box-shadow: inset 0px 5px -5px 5px #29627e;
        /*padding-left: .5rem;
            margin-left: .5rem;
            font-style: italic;
            color: #29627e;*/
    }
</style>

<div>
    <aside class="aside-left">

    </aside>
    <aside class="aside-right">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            @{if (Model.Highlights != null)
                {
                    <div>
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Highlights.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                                }
                            }
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            @{
                                for (int i = 0; i < Model.Highlights.Count; i++)
                                {
                                    var highlight = Model.Highlights[i];
                                    string cla = i == 0 ? "item active" : "item";

                                    <div id="main-wrap" class="@cla">
                                        <img src="@Url.Content(highlight.ImagePath)" alt="Visual Studio" class="img-responsive" />

                                        <div class="highlight-wrapper">
                                            <div class="carousel-caption" role="option">
                                                <h1 class="highlight-title">
                                                    <br>@highlight.Title
                                                </h1>

                                                <div class="highlight-body">
                                                    <br>@highlight.Body
                                                </div>

                                                <a class="highlight-button" href="@highlight.HyperLink">
                                                    @highlight.ButtonContent
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                }
            }
        </div>
    </aside>
</div>