@model IEnumerable<MusicHub.Models.LocalModels.ArtistModel>

<table id="table_artists" class="table table-hover">
    <thead>
        <tr>
            <!-- Sort by links -->
            <th>
                <p id="search_name"><a>@Html.DisplayNameFor(model => model.Name)</a></p>
            </th>
            <th>
                <p id="search_last_name"><a>@Html.DisplayNameFor(model => model.LastName)</a></p>
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="Edit" title="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a asp-action="Delete" title="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash"></span></a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
