@model MusicHub.Models.LocalModels.ArtistModel

@{
    ViewData["Title"] = "Details";
}

<style>
    a:hover {
        text-decoration-line: none;
    }
</style>

<div>
    <h1>@Html.DisplayFor(model => model.FullName)</h1>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID" title="edit artist"><span class="glyphicon glyphicon-pencil" /></a>
    </div>
    @Html.Partial("_Partial_Canvas_Decor")
    <table class="table">
        <tr>
            <th>Song Title</th>
            <th>Genre</th>
        </tr>
        <!-- iterate for each song of the artist -->
        @foreach (var song in Model.Songs)
        {<!-- Add table row with song name and genere -->
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => song.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => song.Genre)
                </td>
                <td>
                    <a asp-controller="Song" asp-action="Details" asp-route-id="@song.ID">Details</a>
                </td>
            </tr>
        }
    </table>
</div>
