@model MusicHub.Models.LocalModels.ArtistModel

@{
    ViewData["Title"] = "Details";
}

<div class="">
    <h1>@Html.DisplayFor(model => model.FullName) Songs</h1>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil"></a> |
        <a asp-action="Index">Back to Artists</a>
    </div>
    <hr />
    <table class="table">
        <tr>
            <th>Song Title</th>
            <th>Ganere</th>
        </tr>
        <!-- iterate for each song of the artist -->
        @foreach (var song in Model.Songs)
        {<!-- Add table row with song name and genere -->
        <tr>
            <td>
                @Html.DisplayFor(modelItem => song.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => song.Genre)
            </td>
            <td>
                <a asp-controller="Song" asp-action="Details" asp-route-id="@song.ID">Details</a>
            </td>
        </tr>
        }
    </table>
</div>    
